#event_container {
	text-align: center;
	margin: 0 auto;
}

.event_top h1 {
	text-align: center;
	padding-top: 170px;
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 30px;
	color: #f2f2f3;
	letter-spacing: 10px;
	font-family: "Merriweather", serif;
	font-weight: 700;
	font-style: normal;
	text-shadow: 0.5px 2px 5px #000;
}

.event_bottom .select {
	display: flex;
	justify-content: center;
	padding-left: 685px;
	padding-bottom: 20px;
	padding-top: 15px;
}

.event_content {
	padding-top: 80px;
}

.event_bottom div select {
	border-bottom: 1px solid #9d9d9d;
}

.event_bottom div select, .event_search, .event_search_1, .list_content
	{
	height: 40px;
	width: 100px;
	margin-right: 8px;
	padding: 0 10px;
	cursor: pointer;
}

.list_content {
	margin-bottom: 20px;
}

.event_search {
	width: 300px;
	outline: 0;
	cursor: text;
}

.event_search_1, .list_content {
	border: none;
	color: #fff;
	background-color: #000;
	cursor: pointer;
}

.event_bottom table {
	border-top: 2px solid;
	width: 1200px;
	margin: 0 auto 30px;
	border-collapse: collapse;
}

.event_bottom tr>* {
	border-bottom: 1px solid #d9d9d9;
	height: 70px;
	text-align: center;
}

.event_bottom table a {
	padding-right: 20px;
}

.event_bottom th {
	background: #f5f5f5;
	font-weight: 700;
}

.event_bottom .table-row:hover {
	cursor: pointer;
	background-color: #fefefe;
}

#event_container .text-content textarea {
	resize: none;
	border: none;
	width: 1180px;
	height: 600px;
	outline: none;
	padding: 5px;
	background-color: #f7f7f7;
}

.event_bg {
	background: url("../../img/board/board_event.jpg");
	height: 400px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}