.activity_title4 {
	height: 710px;
	background: url(../../img/section2/activity4-bg.jpg) no-repeat top 40px
		center/cover;
	background-attachment: fixed;
}

.foodcourt_container4 {
	width: auto;
	height: auto;
	margin: 0 auto;
}

.foodcourt_info4 {
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	text-align: center;
}

.foodcourt_info4>h2 {
	margin-top: -400px;
	width: 1200px;
	color: white;
	font-size: 50px;
	text-align: center;
	text-shadow: 0.5px 2px 5px #000;
}

.foodcourt_info4>li {
	color: white;
	font-size: 20px;
	text-align: center;
	text-shadow: 0.5px 2px 5px #000;
}

.foodcourt_info4 ul {
	margin-top: 400px;
	text-align: center;
	font-size: medium;
}

.foodcourt_info4 ul b {
	font-size: 30px;
}

.guide4 {
	width: 1200px;
	height: auto;
	margin: 400px auto;
}

.guide4>div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 200px;
	width: 100%;
	height: 400px;
}

.guide4 div img {
	width: 50%;
	height: 400px;
	padding-right: 40px;
	border-right: 1px solid #838383;
}

.guide4 div ul {
	padding-left: 40px;
	width: 50%;
	height: 400px;
	line-height: 30px;
}

.guide4 div ul b {
	font-size: 17px;
}