.statistics{
	width: 1220px;
	height: 925px;
}
.chart-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* 위에 여백 추가 */
}
#myPieChart, #memberChart {
    max-width: 350px;
    max-height: 350px;
}
canvas #barChart {
    width: 80%; /* 가로 너비 조정 */
    height: auto; /* 높이 자동 조정 */
}
#barChart {           
    margin: 0 auto; /* 가운데 정렬을 위한 설정 */
    display: block; /* 가운데 정렬을 위해 block 요소로 설정 */
    width: 80%; /* 가로 너비 조정 */
  }