.admin_main_content {
	margin-top: 20px;
	min-height: 820px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin_main_content h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.admin_main_content h1>img {
	width: 35px;
	height: 35px;
}

.admin_main_content h1>img:hover {
	cursor: pointer;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 20px;
}

.grid-item {
	background-color: #f0f0f0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 20px;
	line-height: 30px;
}

.grid-item:hover {
	background-color: #ddd;
	cursor: pointer;
}

/* 첫 번째 행 */
.grid-item:nth-child(-n+2) {
	grid-row: 1;
}

/* 두 번째 행 */
.grid-item:nth-child(n+3):nth-child(-n+4) {
	grid-row: 2;
}

/* 세 번째 행 */
.grid-item:nth-child(n+5) {
	grid-row: 3;
}