.admin_facility-content {
	height: 880px;
	background-color: #fff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin_facility-content h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.admin_facility-content h1>img {
	width: 35px;
	height: 35px;
}

.admin_facility-content h1>img:hover {
	cursor: pointer;
}

.admin_facility_cont {
	width: 830px;
	height: 690px;
	text-align: left;
	padding: 10px;
	border: 1px solid #444;
}

.admin_facility_cont table {
	margin: 0 auto;
	border: 1px solid #444;
	border-spacing: 0;
	height: 595px;
	width: 800px;
}

.admin_facility_cont table th {
	background: #ddd;
	border-bottom: 1px solid #fefefe;
	border-right: 1px solid #fefefe;
}

.admin_facility_cont table td {
	border-bottom: 1px solid #ddd;
}

.admin_facility_cont table tr:last-child th {
	border-bottom: none;
}

.admin_facility_cont table input {
	height: 30px;
	padding: 5px;
	width: 180px;
}

.admin_facility_cont table select {
	height: 30px;
	padding: 5px;
	width: 180px;
}

.admin_facility-content .admin_facility_btn_box {
	text-align: center;
	margin-top: 20px;
}

.admin_facility-content .admin_facility_btn_box .modify_btn,
	.admin_facility-content .admin_facility_btn_box .delete_btn {
	padding: 10px;
	width: 80px;
	border-radius: 10px;
}

.admin_facility-content .admin_facility_btn_box .delete_btn {
	background: #fefefe;
}

.admin_facility-content .admin_facility_btn_box .modify_btn {
	background: #ccc;
}

.admin_facility-content .admin_facility_btn_box .cancle_btn:hover,
	.admin_facility-content .admin_facility_btn_box .modify_btn:hover {
	background: #444;
	cursor: pointer;
	color: #fff;
}