.admin_room_list-content {
	width: 1240px;
	height: 880px;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin_room_list-content h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.admin_room_list-content h1>img {
	width: 35px;
	height: 35px;
}

.admin_room_list-content h1>img:hover {
	cursor: pointer;
}

.admin_room_list-content .tool-tip {
	font-size: 14px;
	color: #444;
}

.admin_room_list_box {
	height: 650px; 
}

.admin_room_list_box table {
	margin: 0 auto;
	width: 1000px;
	margin-top: 50px;
	text-align: center;
	border: 1px solid #444;
	border-spacing: 0;
	text-align: center;
}

.admin_room_list_box table th{
	background: #ccc;
	border-bottom: 1px solid #444;
}

.admin_room_list_box table tr, td {
	border-bottom: 1px solid #ddd;
}

.admin_room_list_box table td {
	font-size: 18px;
	padding: 15px;
	height: 60px;
}

.admin_room_list_box table .list_btn {
	padding: 5px 10px;
}

.admin_room_list_box table .list_btn:hover {
	cursor: pointer;
}