.admin_room_modify-content {
	height: 880px;
	background-color: #fff;
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin_room_modify-content h1 {
	margin-left: 20px;
	margin-bottom: 20px;
}

.admin_room_modify-content h1>img {
	width: 35px;
	height: 35px;
}

.admin_room_modify-content h1>img:hover {
	cursor: pointer;
}

.admin_room_modify_cont {
	width: 830px;
	height: 690px;
	text-align: left;
	padding: 10px;
	border: 1px solid #444;
}

.admin_room_modify_cont table{
	margin: 0 auto;
    border: 1px solid #444;
    border-spacing: 0;
    height: 595px;
    width: 800px;
}

.admin_room_modify_cont table th {
	background: #ddd;
	border-bottom: 1px solid #fefefe;
	border-right: 1px solid #fefefe;
}

.admin_room_modify_cont table td {
	border-bottom: 1px solid #ddd;
}

.admin_room_modify_cont table tr:last-child th{
	border-bottom: none;
}

.admin_room_modify_cont table input {
	height: 30px;
	padding: 5px;
	outline: none;
	border: 1px solid #444;
}

.admin_room_modify_cont table select {
	height: 30px;
	padding: 5px;
	outline: none;
	border: 1px solid #444;
}

.admin_room_modify-content .admin_content_btn_box {
	text-align: center;
	margin-top: 20px;
}

.admin_room_modify-content .admin_content_btn_box .modify_btn, 
.admin_room_modify-content .admin_content_btn_box .cancle_btn {
	padding: 10px;
	width: 80px;
	border-radius: 10px;
}

.admin_room_modify-content .admin_content_btn_box .cancle_btn { 
	background: #fefefe;
}

.admin_room_modify-content .admin_content_btn_box .modify_btn { 
	background: #ccc;
}

.admin_room_modify-content .admin_content_btn_box .cancle_btn:hover,
.admin_room_modify-content .admin_content_btn_box .modify_btn:hover { 
	background: #444;
	cursor: pointer;
	color: #fff;
}
