.reservationOk {
	background: url("../../img/reservation_complete.jpg") no-repeat center center
		fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.res_contents {
	background-color: #fff;
	padding: 50px 50px 50px 50px;
	margin: 0 auto;
	width: 600px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.reservationOk .contents h2 {
	color: #333;
	font-size: 28px;
	margin-top: -20px;
}

.res_contents table {
	margin: 0 auto;
}

.res_contents tr th {
	padding: 15px;
	text-align: left;
}

.res_contents tr td {
	text-align: right;
}

.res_contents .res_no {
	font-weight: 600;
	font-size: 17px;
}

.reservationOk input[type="button"]
	{
	width: 180px;
	padding: 15px;
	background: url(../../img/bg_slash_w_10.png) #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 50px;
}

.reservationOk input[type="button"]:hover
	{
	background-color: #676767;
}